@model FinalFour.Models.Login

@{
    ViewData["Title"] = "Registro";
}

<h1>Registro</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" type="email" class="form-control" />
             <span asp-validation-for="Password" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" type="password" /> 
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
          <button type="submit" class="btn btn-primary" value="Iniciar Sesion">Crear cuenta</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="SignIn">Ya tengo cuenta</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
